body{
  margin: 20px 20px;
  display:flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size:14px;
  font-weight: normal;
}
header{
  background-color: burlywood;
  height: 400px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.top{
  display:flex;
  justify-content: space-between;
}
.ligne1{
  font-weight: bold;
  font-size: 2em;
}
h1,h2,.graph{
  font-weight: bold;
  font-size: 1.2em;
}
header h1{
  font-size: 1.2em;
  display:block;
  margin-right:6%;

}
.search{
  background-color: cornsilk;
  border-radius: 15px;
  border: 2px solid black;
  height:50px;
  width:400px;
  font-weight: bold;
  font-size: 1.2em;
  display:flex;
  justify-content: space-between;
}
.location{
  background-color: grey;
  height:100%;
  width:50px;
  border-radius:13px 0px 0px 13px;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_input{
  display: flex;
  align-items: center;
}
.search_text{
  background-color:#0065FC;
  color:#fff;
  height:100%;
  border-radius:0px 13px 13px 0px;
  padding:0 10px 0 10px;
  display: flex;
  align-items: center;
}
#search{
  display:none;
}

.filters{
  background-color: cornsilk;
  max-width: 1000px;
  display:flex;
  font-size: 1.2em;
  color:black;
}   
.inside_filters{
  height:50px;
  margin-right:6%;
  border: 2px solid black;
  border-radius: 0 10rem 10rem 0;
  border-left-style: none;
  display:flex;
  justify-content: center;
  align-items: center;
}  
.inside_filters:hover{
  background-color:green;
  color: purple;
}
.text_filters{
  padding:0 10px 0 10px;
  font-weight: bold;
  background-color: brown;
}
.information{
  display: flex;
  align-items: center;
  height:40px;
  max-width: 600px;
}
.logo_i{
  background-color: rgb(220,236,253);
  border: 2px solid black;
  width:25px;
  height:25px;
  border-radius: 50%;
  color:#0065FC;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
.logo {
  background-color: rgb(220,236,253);
  border: 2px solid black;
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-left: -25px;
  color:#0065FC;
  display:flex;
  justify-content: center;
  align-items: center;
}
nav{
  display: block;
  display: flex;
  width:35%;
  justify-content: space-around;
}
nav a{
  text-decoration: none;
}
.section1{
  display:flex;
}
article{
  width:65%;
  border-radius: 15px;
  background-color: grey;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 45px 20px 45px;
}
.article_label{
  /*height:410px;*/
  height:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between; 
  align-content: space-between; 
  background-color: rgb(218, 182, 182);
}
.inside_label{
  width:200px;
  height:165px;
  background-color: #fff;
  border: 5px solid #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.inside_label:active,.aside_inside_label:active,.section2_inside_label:active
{
  border: 5px solid red;
}
.title{
  font-weight: bold;
}
.photo{
  width:100%;
  height:60%;
  border-radius:15px 15px 0px 0px;
  object-fit: cover;
}
aside{
  border-radius: 15px;
  background-color: grey;
  margin-left: 5%;  
  width: 32%;
  padding: 20px 45px 0px 45px;
}
.aside_label{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.aside_title{
  width:320px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.aside_inside_label{
  display:flex;
  width: 310px;
  height:120px;
  background-color: #fff;
  border: 5px solid #FFF;
  border-radius: 15px;
  margin-bottom: 5%;
}
.aside_photo{
  height:100%;
  width:40%;
  object-fit: cover;
  border-radius:11px 0px 0px 11px;
}
.aside_text{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stars{
  display: flex;
  align-items: baseline;
  color: #0065FC;
}
.empty_stars{
  color: yellowgreen;
}
.section2{
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
}
.activities_label{
  height: 375px;
  background-color: salmon;
  border-radius:15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.section2_inside_label{
  border-radius: 15px;
  background-color: #fff;
}
.section2_photo{
  border-radius:15px 15px 0px 0px;
  object-fit: cover;
}
.section2_texte{
  height:55px;
  padding-left: 25px;
  display:flex;
  align-items: center;
}
footer{
  background-color: grey;
  display: flex;
  line-height: 2.2em;
}
ul{
  list-style-type: none;
}
/*---- media queries ------------------------------------------*/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
@media screen and (max-width: 1024px)
{
body{
/*  display:inline;*/

}
header{
/*  display:inline;*/
}
.search_text{
  display:none;
}
#search{
  background-color:#0065FC;
  color:#fff;
  height:100%;
  width:50px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters{
 /* display:inline; */
 flex-wrap:wrap;

}
.section1{
  display:flex;
  flex-direction: column-reverse;
}
.article_label{

  height:100%;
}
.inside_label,.aside_inside_label,.section2_inside_label{
  width:320px;
  height:195px;
  margin-bottom: 10px;

}
article,aside,.activities_label{
  width:100%;
  padding: 0px;
  border-radius: 0px;
  background-color: grey;
  margin-left: 0%;
  margin-bottom: 10px;
  

}
.section2{
  
}
.activities_label{
  height:100%;
}
.section2_inside_label{
  width:320px;
  height:190px;
}
.section2_photo{
  width:100%;
  height: 140px;

footer{
  background-color: grey;
}
footer div ul{
  color: aquamarine;


}
}


/*
<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 5px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 5px solid red;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Premiere photo</div>
  <div class="desc">2eme ligne</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="img_forest.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">2eme photo</div>
  <div class="desc">2eme ligne</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">3eme photo</div>
   <div class="desc">2eme ligne</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html>

*/