body{
  margin: auto;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size:13px;
}
header{
  padding: 0em 2em 0em 2em;
}
.top{
  margin-top: 2em;
  display:flex;
  justify-content: space-between;
}
nav{
  display: block;
  display: flex;
  width: 35%;
  font-size: 1.1em;
  justify-content: space-around;
}
a{
  color:black;
  text-decoration: none;
} 
.navHebergements,navSubscribe{
  color:#0065FC;
}
.ligne1{
  margin-top: 1em;
  font-weight: bold;
}
h1,h2,.graph{
  font-weight: bold;
  font-size: 1.2em;
}
header h1{
  font-size: 1.2em;
  display:block;
  margin-right:1.5em;
}
.search{
  border-radius: 1em;
  border: 2px solid black;
  height:3em;
  width:400px;
  margin-top:1.5em;
  font-weight: bold;
  font-size: 1.2em;
  display:flex;
  justify-content: space-between;
}
.location{
  background-color: #F2F2F2;
  height:100%;
  width:3em;
  border-radius:1em 0em 0em 1em;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchInput{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.searchText{
  background-color:#0065FC;
  color:#fff;
  height:100%;
  border-radius:0em 1em 1em 0em;
  padding:0 10px 0 10px;
  display: flex;
  align-items: center;
}
#search{
  display:none;
}

.filters{
  display:flex;
  font-size: 1.3em;
  color: black;
  margin:2em 0em 2em 0em;
}   
.insideFilters{
  height:3em;
  margin-right:1.5em;
  border-radius: 2em;
  display:flex;
  justify-content: center;
  align-items: center;
}  
.insideFilters:hover{
  background-color:green;
  color: #fff;
}
.textFilters{
  padding:0em 1em 0em 2em;
  font-weight: bold;
  height:100%;
  border: 2px solid #d9d9d9;
  border-radius: 0 2em 2em 0;
  margin-left: -1.3em;
  border-left-style: none;
  display: flex;
  align-items: center;
  
}
.logo {
  background-color: #DEEBFF;
  border: 2px solid #DEEBFF;
  width:3em;
  height:3em;
  border-radius: 50%;
  color:#0065FC;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo i{
  font-size: 1.3em;
}
.information{
  display: flex;
  align-items: center;
  height:2.5em;
  max-width: 600px;
}
.logoInformation{
  background-color: rgb(220,236,253);
  border: 2px solid black;
  width:1.5em;
  height:1.5em;
  border-radius: 50%;
  color:#0065FC;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
section{
  padding: 0em 2em 0em 2em;
}
.section1{
  margin-top: 3em;
  display:flex;
  margin-bottom: 4em;
}
article{
  width:65%;
  border-radius: 1.5em;
  background-color: #F2F2F2;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 45px 20px 45px;
}
.articleLabel{
  /*height:410px;*/
  height:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between; 
  align-content: space-between; 
  background-color: #F2F2F2
}
.insideLabel{
  width:200px;
  height:165px;
  background-color: #fff;
  border: 5px solid #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.insideLabel:active,.asideInsideLabel:active,.section2InsideLabel:active
{
 /* border: 5px solid #f2f2f2;*/
}
.title{
  font-weight: bold;
}
.photo{
  width:100%;
  height:60%;
  border-radius:15px 15px 0px 0px;
  object-fit: cover;
}
aside{
  border-radius: 15px;
  background-color: #F2F2F2;
  margin-left: 2em;  
  padding: 20px 45px 0px 45px;
}
.asideLabel{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.asideTitle{
  width:23vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.asideInsideLabel{
  display:flex;
  width: 22.5vw;
  height:19.5vh;
  background-color: #fff;
  border: 5px solid #FFF;
  border-radius: 15px;
  margin-bottom: 5%;
}
.asidePhoto{
  height:100%;
  width:40%;
  object-fit: cover;
  border-radius:11px 0px 0px 11px;
}
.asideText{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stars{
  display: flex;
  align-items: baseline;
  color: #0065FC;
}
.emptyStars{
  color: #F2F2F2;
}
.section2{
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.activitiesLabel{
  height: 62.08vh;
  border-radius:15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.section2InsideLabel{
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 16px #0000002e; 
}
  width:300px;
.section2Photo1{
  height: 320px;
  border-radius:15px 15px 0px 0px;
  object-fit: cover;
}
.section2Photo2{
  width:300px;
  height:145px;
  border-radius:15px 15px 0px 0px;
  object-fit: cover;
}
.section2Photo3{
  width:300px;
  height:95px;
  border-radius:15px 15px 0px 0px;
  object-fit: cover;
}
.section2Photo4{
  width:300px;
  height:115px;
  object-fit: cover;
  border-radius:15px 15px 0px 0px;
}
  object-fit: cover;
  border-radius:15px 15px 0px 0px;
  height:125px;
  width:300px;
.section2Photo5{
}
.section2Texte{
  height:55px;
  padding-left: 25px;
  display:flex;
  align-items: center;
}
footer{
  background-color: #F2F2F2;
  display: flex;
  width:100%;
  line-height: 2.2em;
}
footer div{
  display:flex;
  flex-direction: column;
  padding-right: 15em;
}
ul{
  list-style-type: none;
}
/*---- media queries ------------------------------------------*/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/

/*-- portables --*/
@media screen and (max-width: 1024px){ 

}
/*-- tablettes --*/

@media screen and (max-width: 1024px){

}
/*-- telephones --*/

@media screen and (max-width: 1024px)
{
  body{
    /*  display:inline;*/
  
    
  }
  header{
    /*  display:inline;*/
  }
  #logo{
    margin-bottom: 1em;
  }
  .top{
    display:inline;
  }
  nav{
    width:100%;
    display: flex;
  }
  .navHebergements{
    width:50%;
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;

  }

  .navActivities{
    width:50%;
    color:black;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
  }
  .navSubscribe{
    display: none;
  }
  nav a{
    
  }
  .searchText{
    display:none;
  }
  .search{
    width:320px;
  }
  #search{
    background-color:#0065FC;
    color:#fff;
    height:100%;
    width:50px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filters{
    flex-wrap:wrap;
    
  }
  .titleFilters{
    margin-right: 10em;
  }
  .insideFilters{
  margin-bottom: 1.5em;

}
.section1{
  display:flex;
  flex-direction: column-reverse;
}
.articleLabel{

  height:100%;
}
.insideLabel,.asideInsideLabel,.section2InsideLabel{
  width:320px;
  height:195px;
  margin-bottom: 10px;
}
article,aside,.activitiesLabel{
  width:100%;
  padding: 0px;
  border-radius: 0px;
  background-color: #F2F2F2;
  margin-left: 0%;
  margin-bottom: 1em;
}
.section2{
  
}
.activitiesLabel{
  height:100%;
}
.section2InsideLabel{
  width:320px;
  height:190px;
}
.section2Photo{
  width:100%;
  height: 140px;
}
footer{
/*  background-color: grey;*/
  display: block;
}
}